.content {
	margin: 0 auto;
	padding-top: 15px;
}

.mContent {
	margin: 0 auto;
	padding: 0 10px;
	padding-top: 15px;
}

/* 轮播图样式 */
.banner {
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: 8px 8px 0 0;

}

/* 导航 */
.nav {
	background-color: #fff;
	padding: 15px 13px 10px;
	border-radius: 0 0 8px 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.navbar {
	width: 100%;
	display: flex;
	justify-content: center;
}

.navbar navigator {
	width: 20%;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	align-self: center;
	text-align: center
}

.navbar navigator image {
	width: 120upx;
	height: 120upx;

}

.navbar navigator text {
	font-size: 24upx;
	color: #666;
}

/* 内容 */
.main {
	width: 100%;
	margin-top: 10px;
	border-radius: 8px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16);
}

.main .myManager {
	width: 100%;
	/* height: 157px; */
	background-color: #fff;
	padding: 15px 25px 15px 15px;
	margin-bottom: 10px;
	border-radius: 8px;
}

.oilPrices {
	width: 100%;
	/* height: 157px; */
	background-color: #fff;
	padding: 15px 25px 39px 15px;
	margin-bottom: 10px;
	border-radius: 8px;
}

.line{
	display: inline-block;
	width: 4px;
	height: 22px;
	background-color: #00A8FF;
	position: relative;
	top: 3px;
	margin-right: 5px;
}

.title-p {
	font-weight: bold;
	font-size: 20px;
	color: #666;
	display: inline-block;
}

/* 客户电话 */
.managerNum {
	justify-content: space-between;
	align-content: center;
	align-items: center;
	align-self: center;
	margin-top:22px;
}

.index-title {
	margin-bottom: 10px;
}

.managerNum .manager {
	margin-right: 10px;
}


.managerNum .call {
	display: flex;
	justify-content: space-between;
	
	color: #666;
}

.numberBtn {
	padding: 3px 14px;
	background-color: #00A8FF;
	border-radius: 5px;
	font-size: 15px;
	color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

/* 当前油品批发价 */
/* .oilPrices ul{
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 0;
} */
.priceLi {
	color: #666666;
	border-bottom: 1px solid #E5E5E5;
	padding: 10px 0;
}

.priceLi text {
	display: flex;
	justify-content: space-between;
}
.priceLi .titles text{
	font-size: 12px;
}





.userIntegraltitle text{
	font-size: 16px;
	font-weight: bold;
	color: #666666;
}

.userIntegraltitle>view>image {
	width: 48upx;
	margin-right: 8px;
}

/* 积分 */
.userIntegral {
	width: 100%;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
	display: flex;
	justify-content: space-between;

}

.userIntegral .company {
	padding-right: 10px;
	margin: 11px 0 11px 15px;
}

.company {
	font-size: 28upx;
	font-weight: normal;
	margin-top: 3px
}

.userIntegral .orderNumber {
	padding-right: 10px;
	margin: 11px 0 11px 10px;
}

.orderNumber view {
	padding: 3px
}

.orderNumber view .numberTitle {
	font-weight: bold;
}

.userIntegral .integral {
	min-width: 110px;
	background-color: #00A8FF;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	align-self: center;
	justify-content: center;
	color: #fff;
	padding: 22px 0;
	border-radius: 0 8px 8px 0;
}

.userinfos {
	padding-bottom: 11px;
	border-bottom: 1px solid #e5e5e5;
}

.userIntegral .integral view {
	font-size: 30px;
}

.userIntegral .integral text {
	flex: 1;
	color: #fff;
}

/* 页面user 信息 */
.userinfo {
	width: 100%;
	padding: 10px 0px 0px 10px;
	margin: 10px 0;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
}

.userinfo text,
input {
	font-weight: normal;
}

.userinfo .setphone {
	margin-right: 4px;
}

.userinfo .write {
	padding: 3px 12px;
	border-radius: 4px;
	background-color: #fff;
	font-size: 12px;
	color: #999;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16);
	position: relative;
	left: 85%;
}

.userinfo .fget-ul {
	border: none;
}

.underline {
	border-bottom: 1px solid #e5e5e5;
}

.underline input {
	color: #666666;
	font-size: 16px;
}

.out {
	width: 100%;
	padding: 0px 0px 0px 10px;
	/* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16); */
}

/* 退出 */
.safeout {
	width: 90%;
	background-color: #c5cccf;
	color: #fff;
	margin: 10px auto;
}

/* .out .mint-cell*/
.mint-cell-wrapper {
	border-bottom: 1px solid #e5e5e5;
}

.out .btn {
	width: 100%;
	background-color: #c5cccf;
	color: #ffffff;
	font-size: 19px;
	border-radius: 5px;
	padding: 10px;
	margin-top: 20px;
}

.userinfo .mint-cell:last-child,
.mint-cell-wrapper {
	background-image: none
}


/* 忘记密码 */

/* 返回/标题 */

.titleAll {
	width: 100%;
	height: 44px;
	background-color: #fff;
	text-align: center;
	font-size: 17px;
	color: #666666;
	box-shadow: 0 0 10px #aaa;
	position: fixed;
	top: 0;
	z-index: 999;
}

.titleAll a {
	font-size: 15px
}


/* 忘记密码 */
.fget {
	width: 100%;
	background-color: #fff;
}

.fget-num {
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.fget-num .fget-ul {
	display: -webkit-flex;
	display: flex;
	height: 44px;
	border-bottom: 1px solid #e5e5e5;
	margin-left: 10px;
	align-content: center;
	align-items: center;
	align-self: center;
	justify-content: space-between;
	padding-right: 15px;
}


/* 按钮 */
.nextBox {
	margin-top: 20px;
}

.nextBox .btn {
	width: 334px;
	height: 47px;
	margin: 0 auto;
	border-radius: 5px;
}

.mhome .fget-num .fget-ul:last-child {
	border: none;
}

/* 详细地址textarea */
.fget-eara {
	/* height:100px; */
	padding: 10px 15px 10px 0;
	color: #666;
}

.fget-num .fget-erea .secend-in textarea {
	height: 44px;
	padding: 0px 5px;
	border: none;
	font-family: "微软雅黑";
	flex: 1;
	font-size: 14px;
}

/* 授权信息样式 */
.step-box {
	width: 90%;
	margin: 15px 5% 5%;
	border-radius: 16px;
	display: flex;
	justify-content: space-around;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}



.positive {
	width: 90%;
	margin: 5%;
	border: 1px dashed #333;
}

.positive img {
	width: 100%
}

.fget-num .tellinfo {
	text-align: center;
	padding: 0 0 20px 0;
}

.harvest {
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 15px;
}

.harvest-name {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 19px;
	color: #333;
}

/* harvest收货地址 */
.harvest-address {
	width: 100%;
	padding: 10px 10px 10px 0;
	border-bottom: 1px solid #e5e5e5;
	color: #333;
	font-size: 14px;

}

.harvest-write {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	align-self: center;
	padding: 7px 0 0;
	font-size: 12px;
	line-height: 22px;
}

.operation {
	display: flex;
}

.harvest-write .write {
	border-radius: 4px;
	background-color: #fff;
	font-size: 12px;
	color: #999;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16);
}

.newaddress .btn {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #009DFF;
	color: #fff;
	font-size: 19px;
	padding: 13px 0;
	z-index: 1;
}

.fget-eara .first-li {
	margin-bottom: 8px;
}

/* orderList */
.orderList {
	padding:0 10px;
	position: relative;
	margin: 10px 0;
}

.orderList view {
	padding: 5px 0;
}
.stateBox{
	justify-content: space-between;
}
.stateBox .state-right{
	 flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}
.oilPrice{
	 flex-direction: column;
	align-items: flex-end;
	
}
.unit {
	bottom: 45px;
	font-weight: bold;
}

.price {
	font-weight: bold;
	bottom: 15px;
}   
.stateBox .orderListState {
	/* position: absolute;
	right: 20px; */
}

/* top15 */
.state {
	color: #00A8FF;
	top: 15px;
}

.stay {
	color: #00A8FF;
	top: 45px;
}



/* 已拒绝颜色样式 */
.stateBox 
.oc {
	color: #FD8E65
}

/* 加载更多 */
.loading {
	width: 100%;
	height: 49px;
	background-color: #fff;
	color: #999;
	text-align: center;
	line-height: 44px;
	position: fixed;
	bottom: 0;
}
.loading image{
	width:8px;
	height: 8px;
}

/* 订单详情 */
.detailsState {
	background: #fff;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}

.timeOut {
	width: 90%;
	height: 60px;
	background: #00A8FF;
	position: absolute;
	color: #fff;
	text-align: center;
	font-weight: bold;
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	align-self: center;
	top: 15px;
	left: 5%;
	border-radius: 8px;
}

.time {
	font-size: 56upx;
	color: #fff;
}

.timeOver {
	font-size: 36upx;
	color: #fff;
}

.detailsState .stateBox view {
	font-size: 28upx;
	padding: 3px 0;
}


.detailsState .stateBox .state2 view text {
	font-weight: bold;
	font-size: 32upx;
}
.state1,.state2 {
	align-items: center;
	align-content: center;
	align-self: center;
}
.discount {
	/* width: 81px;
	height: 53px; */
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
	text-align: center;
	padding: 5px 15px 10px;
	align-content: center;
	align-items: center;
	align-self: center;
	font-weight: bold
}

.discount view {
	font-size: 34upx;
}

.discount text {
	font-size: 32upx;
	color: #FF0000;
}

.orderDetails {
	padding: 10px 15px 10px;
	background: #fff;
	display: flex;
	flex-direction: column;
	margin: 10px 0;
}

.orderDetails view {
	line-height: 30px
}

.orderDetails:last-child text {
	vertical-align: top;
}

.orderDetails:last-child textarea {
	color: #666;
}

.pay {
	height: 116px;
	padding: 10px 15px 10px;
	background: #fff;
	display: flex;
	flex-direction: column;
}

.pay view {
	font-size: 32upx;
	line-height: 28px;
}

.pay>view>view>text {
	font-weight: bold;
	color: #FD8E65;
}



.m-two-btn .cal {
	color: #fff;
	background-color: #C5CCCF;
	padding: 0;
}

.orderBtn .blue {
	background-color: #00A8FF;
}

.flex {
	display: flex;
}
.footmodel{
	z-index: 999;
}

	.footmodel {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		position: absolute;
		bottom: 0px;
		left: 0;
	}

	.footmodel .modelmain view {
		background-color: #fff;
		padding: 13px;
		text-align: center;
		border-bottom: 1px solid #e5e5ee;
		font-size: 18px;
		color: #666;
	}

	.footmodel .modelmain text {
		display: block;
		background-color: #fff;
		padding: 13px;
		text-align: center;
		border-bottom: 1px solid #e5e5ee;
		font-size: 18px;
		color: #666;
	}

	.footermain {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		animation: show1 0.3s;
		border-radius: 8px 8px 0 0;
	}

	.modelfooter {
		width: 100%;
		display: flex;
		margin-top: 6px;
		background-color: #fff;

		line-height: 50px;
	}

	.modelfooter view {
		width: 100%;
		text-align: center;
	}

	.footmodel .modelmain view:hover {
		background-color: #e5e5e5;
	}

	@keyframes show1 {
		0% {
			bottom: -241px;
		}

		100% {
			bottom: 0px;
		}
	}

	@keyframes leave {
		100% {
			bottom: 0px;
		}

		0% {
			bottom: -362px;
		}
	}
	.times {
		display: inline-block;
		border-radius: 5px;
		padding: 4px 15px;
		background-color: #fff;
		text-align: center;
	}